<div>
  <div style='text-align:center;'>
    <h1 style='font-size: 35px;font-family: "Times New Roman", Times, serif;'>Pattern Faire</h1>
    <h3 style='font-size: 20px;'>Thank you!</h3>
    <p>We have received your request! A Pattern representative will personally be in touch with you as soon as possible!</p>
  </div>
</div>