<div>
  <h3>A client has been referred to Pattern Faire!</h3>
  <div>
    Referrer: <a href='mailto:{{this.referrerEmail}}'>{{this.referrerEmail}}</a>
  </div>
  <div>
    Client: <a href='mailto:{{this.clientEmail}}'>{{this.clientEmail}}</a>
  </div>
</div>