// colors

$color-1: #1A1A1A; // Cod Gray
$color-2: #FFFFFF; // White
$color-3: #faf8f8; // Light Gray
$color-4: #9c9999; // Gray

// Fonts

$font-primary: "Times New Roman", Times, serif;
$font-secondary: Arial, Helvetica, sans-serif;